<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://vimeo.com/38195013</string>
	<string>https://www.arstechnica.com</string>
	<string>http://www.thebounce.ca/files/gc-cat.png</string>
	<string>http://www.pdfbooksworld.com/pdf/The-Time-Machine.pdf</string>
	<string>https://www.youtube.com/watch?v=9bZkp7q19f0</string>
	<string>http://techslides.com/demos/sample-videos/small.mp4</string>
</array>
</plist>
